.row#about
  .col-xs-12
    %h2 About Me
    %p
      Hello! I’m Brittany, a born and raised Minnesotan with a passion for design.
      %br.hidden-xs
      I specialize in responsive web design, UX/UI, branding and illustration.
    %p
      Here are a few of my favorite things...
.row.centered.about-images
  .col-xs-4.col-sm-2
    =image_tag 'minnesota.png', class: [:'img-responsive']

  .col-xs-4.col-sm-2
    =image_tag 'caribou_coffee.png', class: [:'img-responsive']

  .col-xs-4.col-sm-2
    =image_tag 'star_wars.png', class: [:'img-responsive']

  .col-xs-4.col-sm-2
    =image_tag 'batman.png', class: [:'img-responsive']

  .col-xs-4.col-sm-2
    =image_tag 'cat.png', class: [:'img-responsive']

  .col-xs-4.col-sm-2
    =image_tag 'ice_cream.png', class: [:'img-responsive']
