.col-xs-12.col-sm-6
  .thumbnail.pull-right.hidden-xs
    =image_tag 'me_portrait_sized.png', class: [:'img-responsive']
  .thumbnail.visible-xs-block
    =image_tag 'me_portrait_sized.png', class: [:'img-responsive']
.col-xs-12.col-sm-6
  %p.no-center.hidden-xs
    Thanks for checking out my site!
    %br
    Please feel free to contact me for more information.
    %br
    My resume is available upon request.
  %p.visible-xs-block
    Thanks for checking out my site!
    %br
    Please feel free to contact me for more information.
    %br
    My resume is available upon request.
  .social-horizontal
    =image_tag 'contact_icon.png'
    brittany.marie.design@gmail.com
  .social-horizontal
    =image_tag 'phone_icon.png'
    763.772.5694
