.col-xs-12.col-sm-12
  %p.center.hidden-xs
    Thanks for checking out my site!
    %br
    Please feel free to contact me for more information.
  %p.visible-xs-block
    Thanks for checking out my site!
    %br
    Please feel free to contact me for more information.
.row.centered
  .social-vertical
    .col-xs-6.col-sm-offset-3
      =image_tag 'contact_icon.png'
      %a{href: 'mailto:brittany.marie.design@gmail.com'}brittany.marie.design@gmail.com
    .col-xs-6.col-sm-offset-3
      =image_tag 'phone_icon.png'
      %a{href: 'tel:763-772-5694'}763.772.5694
