.row.blue-color-background
  =render partial: '/home/behance_image', collection: @behance_images

.row.top-level-section#about
  =render partial: '/home/about'

.row.centered.about-me#contact-me.blue-color-background
  .col-xs-12.center
    %h2 Let's Chat
  =render partial: '/contacts/form'
