.row
  =render partial: 'behance_image', collection: @behance_images
%hr
=render partial: 'about'
%hr
.row.centered.about-me#contact-me
  .col-xs-12.center
    %h2 Let's Chat
.row
  =render partial: 'contact'
