.centered {
  text-align: center;
}
.no-center {
  text-align: left;
}
.right {
  text-align: left;
}
.no-padding {
  padding: 0;
}
.social-horizontal {
  img {
    height: 20px;
    margin: 5px;
  }
}
.social-vertical {
  img {
    width: 20px;
    height: 25px;
    margin: 5px;
  }
}
