.centered {
  text-align: center;
}
.no-center {
  text-align: left;
}
.right {
  text-align: left;
}
.no-padding {
  padding: 0;
}

.nav-social-container {
  padding-top: 10px;
  img {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 5px; 
  }
}
.social-horizontal {
  img {
    height: 25px;
  }
}
.social-vertical {
  img {
    width: 20px;;
    margin: 5px;
  }
}
.center-block {
  margin: 0 auto;
}
