.about-images {
  a {
    color: $text-gray;
  }
  img {
    margin-bottom: 10px;
  }
}
.about-me {
  margin-top: 40px;
}
.thumbnail {
    align: right
}
.reapeating-image {
  background-image: image-url("background_graphic.svg");
  background-repeat: repeat;
}