@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
body {
  font-family: 'Lato', sans-serif;
  color: $text-gray;
  font-weight: 300;
}


.headings {
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  font-family: "bebas-neue", sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 100px;
  @extend .headings;
}

h3 {
  font-weight: 700;
  @extend .headings;
}

p {
  text-align: center;
  font-size: 20px;
}

p.modal {
  font-size: 15px;
}
