!!!
%html
  %head
    %title Brittany Marie
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
  %body
    .container
      .header
        .navbar
          .container

            .col-xs-12.col-sm-8
              %ul.nav.navbar-nav
                %li.active
                  %a{href: "/#"} Home
                %li
                  %a{href: "/#portfolio"} Portfolio
                %li
                  %a{href: "/#contact-me"} About
                %li
                  %a{href: "/#contact-me"} Contact
            .col-xs-12.col-sm-4
              %ul.social-horizontal.navbar-nav.nav.pull-right
                %li
                  =image_tag 'behance_icon.png'
                %li
                  =image_tag 'linkedin_icon.png'
                %li
                  =image_tag 'contact_icon.png'

    .container-fluid
      .row
        .col-xs-12.no-padding
          .banner
            .container
              =image_tag 'bmarie_logo.jpg', class: [:logo]
              %span.tagline Designer | Freelancer

    .container
      .row.content
        .col-md-12
          = yield
      .footer
        %p © 2014
